.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 8px;
    padding-bottom: 8px;  
    padding-left: 12px;
    padding-right: 12px; */
    background: transparent;
    position: sticky;
    top: 0;
    font-size: 1.2rem;
    z-index: 999;
    height: 80px;    
}

.navbar-container{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
    /* padding-left: 10px; */
}

.nav.active{
    /* background: linear-gradient(315deg, #fce0e4 0%, #f4b7bf 74%); */
    background: rgb(252, 235, 238);
}



.ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
.logo{
    color: black;
    font-weight: bold; 
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic; 
}

span{
    color: rgb(215, 148, 215);
}
.ul li a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}

.ul li a:hover{
    color: rgb(215, 148, 215);
    transition: .3s;
}